@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 75px;
  background-color: #FFF8F3;
  margin-bottom: 45px;
}

.developer {
  padding: 40px 0px;
}

/* Navber */
.navbar {
  display: flex; 
  flex-direction: row; 
  justify-content: space-between; 
  align-items: center;
  padding-top: 20px;
}

.button{
  color: white;
  font-size: 20px;
  background-color: #FD6E0A;
  border: none;
  border-radius: 5px;
  padding: 18px 30px;
}

.mary {
  font-size: 45px; 
  margin: auto;
}

.mary span {
  color: #FD6E0A;
}

.background{
  display: flex;
  flex-direction: row; 
  align-items: center;
  background-image: url(image/header_bg.png);
  background-repeat: no-repeat;
  background-size: 650px;
  background-position: right bottom;
  margin: 0px;
  justify-content: space-between; 
}

.download-btn {
  font-weight: 600;
  font-size: 20px;
  color: white; 
  background-color: #FD6E0A;
  border: none;
  border-radius: 5px;
  padding: 15px;
}

.contact-btn {
  font-size: 20px; 
  font-weight: 600; 
  color: #FD6E0A; 
  background-color: white; 
  border: 1px solid #FD6E0A; 
  border-radius: 5px; 
  padding: 15px;
}

.icon{
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  gap: 50px; 
  font-size: 20px;
}


/* About Me Section */

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 45px;
  margin: 0 auto;
  width: 80%;
}

.about-me {
  background-color: #FFF8F3;
  border-radius: 20px;
  padding: 70px 100px 90px 100px;
  text-align: center;
}

.section-head {
  color: black;
  font-weight: bold;
}

.section-pera {
  color: #757575;
  font-size: 18px;
  margin: 25px 0px;
}

.infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info {
  text-align: center;
}

.info p {
  margin: auto;
  color: #757575;
}

.info h3 {
  margin: auto;
}

/* What I Do Section */

.what-i-do-head {
  font-size: 35px;
  text-align: center;
}

.what-i-do-cards {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.what-i-do-card {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.what-i-do-card h2 {
  font-size: medium;
  margin: 25px 0px;
}

.what-i-do-card .section-pera {
  font-size: 16px;
}
/* summary  */
.summary{
  display: flex;
  flex-direction: column;
  gap: 35px;
  text-align: center;
  align-items: center;
}

.summary-head {
  font-size: 35px;
}

.summary-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: start;
  gap: 40px;
}

.summary-body-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}

.summary-body-div h2 {
  font-size: 30px;
}

.summary-card h3 {
  font-size: 25px;
}

.summary-card h4 {
  font-size: 20px; 
  color: #757575; 
  font-weight: 500; 
  margin: 10px 0px;
}

.summary-card .section-pera {
  font-size: 16px;
}

.divider {
  border: 1px solid #D1D1D1;
}

/* Amazing Works Section */

.amazing-section h1 {
  text-align: center;
  padding: 40px;
}

.amazing-image-section {
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto auto;
  grid-template-rows: 90px 90px 90px 90px 90px 90px 90px;
}

.image-1 {
  grid-row-start: 1;
  grid-row-end: 4;
}

.image-2 {
  grid-row-start: 4;
  grid-row-end: 8;
}

.image-3 {
  grid-row-start: 1;
  grid-row-end: 5;
}

.image-4 {
  grid-row-start: 5;
  grid-row-end: 8;
}

.image-5 {
  grid-row-start: 1;
  grid-row-end: 3;
}

.image-6 {
  grid-row-start: 3;
  grid-row-end: 8;
}

/* Footer */

.footer{
display: flex;justify-content: space-between; gap: 100px; margin:0, auto;

}

.submit{
  text-align: end;
}